* {
    padding: 0px;
     margin: 0px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

main {
    min-height: 80vh;
}

.carousel {
    text-align: center;
    margin-bottom: 50px;
}

.prodImg {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

.carousel-item img {
    width: 50%;
    height: 400px;
}

.here {
    color: blue;
    font-style: italic;
}

.navbar {
    background-color: transparent;
}

.footer p, .desc, .cart {
    color: whitesmoke;
}

.cart {
    margin-top: -2%;
}

#app {
    background-image: url(../images/cement.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

fieldset {
    display: block;
    padding-inline-start: 1em;
    border-width: 2px;
    border-style: groove;
    padding-bottom: 8%;
    padding-top: 4%;

}

.contact-form {
    padding: -10%;
}

#contact {
    width: 45%;
}

.contact-form label {
    color: whitesmoke;
}

.contact-form input {
    width: 131%;
}

iframe {
    height: 400px;
    width: 550px;
}

/* small phones */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .contact-form textarea, .contact-form input {
        width: 100%;
    }

    iframe {
        height: 300px;
        width: 353px;
    }

    #map {
        padding-top: 5%;
    }

    .carousel-item img {
        width: 100%;
        height: 400px;
    }

    .featured {
        width: fit-content;
        height: 100%;
    }
}

/* extra small phones */
@media only screen and (max-width: 424px) {
    iframe {
        height: 100%;
        width: 100%;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-form textarea, .contact-form input {
        width: 100%;
    }

    #map {
        padding-top: 5%;
    }

    iframe {
        height: 450px;
        width: 695px;
    }
}

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
    margin-left: 13%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  #sort {
      color: whitesmoke;
      margin-top: 15px;
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .price, .brand {
      width: 50%;
  }

  .price {
      margin-left: -5px;
  }

  .about {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      text-align: justify;
      margin: 2% 15%;
      color: whitesmoke;
  }

  #about {
      margin-left: 5%;
  }